{% extends 'base.html' %}
{% load static %}

{% block headtitle %}
Forum Post
{% endblock headtitle %}

{% block maincontent %}

<div class="container px-md-5 px-1 py-3 postlimSize shadowDiv my-4">
    <div id="comm-conf" class="rounded p-4 shadow d-none bg-body-tertiary">
        <p>Are you sure you wish to delete the comment?</p>
        <div class="d-flex justify-content-evenly">
            <button id="comm-rem-cancel" class="btn btn-secondary">Cancel</button>
            <button id="comm-rem-conf" class="btn btn-danger" data-commentrem-id="">Yes, Delete</button>
        </div>
    </div>
    <a class="btn btn-sm btn-outline-secondary" href="{% url 'communityForumHome' %}"><i class="bi bi-arrow-left"></i> View all posts</a>
    <div class="container py-2 my-3 mx-md-2 px-md-2 border-bottom border-2">
            
        <h1 class="text-center border-bottom pb-3 mb-3">{{forumPost.title}}</h1>
        <div class="row row-cols-sm-2 p-2 mb-2">
            <div>
                <span class="text-secondary">Posted by: </span>
                <img class="rounded-circle img-fluid profileimg" src="{{forumPost.user.profile.pic.url}}" alt="">
                <a class=" h6 fw-bold" href="{% url 'centBaseProfile' forumPost.user.id %}">@{{forumPost.user}}</a>
            </div>
            <div class="text-body-secondary text-sm-end">
                <div>Posted on: {{forumPost.posted}}</div>
                {% if forumPost.isEdited %}
                <div>Edited on: {{forumPost.updated}}</div>
                {% endif %}
            </div>
        </div>

        <div class="d-flex justify-content-start align-items-center">
            {% for topic in forumPost.topics.all %}
            <a href="{% url 'communityForumHome' %}?search={{topic.name}}"
                class="h6 border text-decoration-none px-2 py-1 me-1 border-secondary rounded"
                target="_blank">{{topic.name}}</a>
            {% endfor %}
        </div>

        {% if request.user == forumPost.user %}
        <a class="btn btn-sm btn-danger" href="{% url 'communityDeletePost' forumPost.id %}">Delete Post <i class="bi bi-trash3"></i></a>
        <a class="btn btn-sm btn-secondary" href="{% url 'communityEditPost' forumPost.id %}">Edit Post <i class="bi bi-pen"></i></a>
        {% endif %}


        <div class="my-2">
            {% if forumPost.video_url != None %}
            <div class="ratio ratio-16x9 d-flex justify-content-center align-items-center">
                <iframe src="{{forumPost.video_url}}" frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            {% endif %}
            {% if forumPost.image.url != '' %}
            <div class="d-flex justify-content-center align-items-center">
                <img class="img-fluid" src="{{forumPost.image.url}}" alt="">
            </div>
            {% endif %}
            <div class="my-2">{{forumPost.content|linebreaks}}</div>
        </div>
    </div>

    <h3 class="display-6">Comments: </h3>
    <div class="comment-wrapper p-2">
        {% if request.user.is_authenticated %}
        <div id="comment-input-div" class="comment-form input-group">
            <textarea id="comment-data" class="form-control" placeholder="Type your comment here"></textarea>
            <button id="btn-add-comment" data-post-id="{{forumPost.id}}" class="btn btn-primary group-text">Send <i class="bi bi-send mt-1"></i></button>
        </div>
        {% else %}
        <div>
            <a href="{% url 'centBaseLoginUser' %}">Login to post a comment</a>
        </div>
        {% endif %}
       
        {% for fcomment in forumPost.forumcomment_set.all %}
        <div class="my-4 border-start border-bottom rounded border-1 border-tertiary p-2">
            <div>
                <div class="d-flex justify-content-start align-items-start border-bottom mb-2 pb-2">
                    <div>
                        <img class="rounded-circle img-fluid profileimg" src="{{fcomment.user.profile.pic.url}}" alt="">
                        <a class="h6 text-decoration-none" href="{% url 'centBaseProfile' fcomment.user.id %}">
                            @{{fcomment.user}}</a> - <span class="text-secondary">{{fcomment.posted|timesince}} ago</span>
                    </div>
                    <div class="ms-auto p-2">
                        {% if request.user.is_authenticated %}
                        <button class="btn btn-sm btn-outline-secondary fw-bold mx-1 btn-prompt-reply" data-repcomment-body = "{{fcomment.shortComment}}"
                        data-comment-id="{{fcomment.id}}" data-repuser-name="{{fcomment.user}}"><i class="bi bi-reply"></i> Reply</button>
                        {% else %}
                        <a class="btn btn-sm btn-outline-secondary fw-bold mx-2 btn-prompt-reply" 
                        href="{% url 'centBaseLoginUser' %}"><i class="bi bi-reply"></i> Reply</a>
                        {% endif %}
                        {% if request.user == fcomment.user %}
                        <button class="btn btn-sm btn-outline-danger fw-bold mx-1 remove-comment" data-commentrem-id="{{fcomment.id}}" data-remtype="comment">
                            <i class="bi bi-trash3"></i> Delete 
                        </button>
                        {% endif %}
                    </div>
                </div>
                <div class="my-2 ps-1">{{fcomment.comment|linebreaks}}</div>
            </div>
            <div>
                {% for freply in fcomment.forumcommentreply_set.all %}
                <div class="my-1 border-start border-2 border-tertiary p-2 ms-4 mb-4">
                    <div class="d-flex justify-content-start align-items-start border-bottom mb-1 pb-1">
                        <div>
                            <img class="rounded-circle img-fluid profileimg" src="{{freply.user.profile.pic.url}}" alt="">
                            <a class="h6 text-decoration-none" href="{% url 'centBaseProfile' freply.user.id %}">
                                @{{freply.user}}</a> - <span class="text-secondary">{{freply.posted|timesince}} ago</span>
                        </div>
                        <div class="ms-auto p-1">
                            {% if request.user == freply.user %}
                            <button class="btn btn-sm btn-outline-danger fw-bold mx-2 remove-comment" data-commentrem-id="{{freply.id}}" data-remtype="reply">
                                <i class="bi bi-trash3"></i> Delete 
                            </button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="my-2 ps-1">{{freply.reply_body|linebreaks}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <div id="reply-input-cont" class="d-none sticky-bottom p-2 bg-body-tertiary shadow-sm rounded mb-1">
            <div id="replying-to-info" class="fw-bold"></div>
            <div id="reply-input-div" class="reply-form input-group rounded-2">
                <textarea id="reply-data" class="form-control" placeholder="Type your reply here"></textarea>
                <button id="btn-cancel-reply" class="btn btn-secondary group-text">Cancel </button>
                <button id="btn-add-reply" class="btn btn-primary group-text">Send <i class="bi bi-send mt-1"></i></button>
            </div>
        </div>
    </div>

</div>

{% endblock maincontent %}

{% block pagejs %}
<script src="{% static 'js/comment.js' %}"></script> {% endblock pagejs %}