# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd

# === Django ===
*.sqlite3
*.log
*.pot
*.pyc
db.sqlite3

# === Secrets / Config ===
secrets.py
.env
.env/

# === Media files (user uploads) ===
media/

# === Virtual environments ===
venv/
env/

# === IDEs / Editors ===
.vscode/

# === Coverage / Testing ===
.coverage
htmlcov/
.pytest_cache/

# === Bootstrap files ===
bootstrap-icons.css
bootstrap.min.css
bootstrap.bundle.min.js
static/css/fonts/*
