{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block headtitle %}Sign up{% endblock headtitle %}

{% block maincontent %}
<div class="container">
    <h2 class="my-2">Are you sure you wish to log out?</h2>
    <div class="d-flex align-items-center">
    <!-- <a class="btn btn-secondary m-2" href="{{request.META.HTTP_REFERER}}">Go back</a> -->
     <a class="btn btn-secondary m-2" href="{% url 'centBaseHome' %}">Go back</a>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <input class="btn btn-danger m-2" type="submit" value="Log out">
        </div>
    </form>
    </div>
</div>
{% endblock maincontent %}