{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block headtitle %}Sign up{% endblock headtitle %}

{% block maincontent %}
<div class="container-sm shadow rounded-2 my-4 p-3 max-form-set">
    <h1 class="h3 text-center border-bottom border-secondary pb-2 mb-2">Registration</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{regform|crispy}}
        <div class="py-2 mb-3">
            <input class="btn btn-primary w-100" type="submit" value="Sign up">
        </div>
    </form>
    <div class="py-2 border-top border-secondary"><span>Already have an account? </span>
        <a class="text-secondary" href="{% url 'centBaseLoginUser' %}">Log in instead.</a></div>
    </div>
</div>
{% endblock maincontent %}