{% extends 'base.html' %}

{% block headtitle %}{{booking.booking_type}} Your bookings{% endblock headtitle %}

{% block maincontent %}
<div class="container">

    <h1 class="display-6 my-4 text-center pb-4 border-bottom">Find your bookings here</h1>
    {% if booking_count > 0 %}
    <h2 class="my-3 pb-3">Upcoming tours of the park you've booked</h2>
    {% for bk in bookings %}
    {% if bk.isInFuture %}
    <div class="container mb-4 p-md-3 border-3 rounded bg-body-secondary shadow-sm">
        <div class="row">
            {% include 'parktour/bk_unit_component.html' %} 
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <hr/>
    <h2 class="my-3 pb-3">Your previous tours of the park</h2>
    {% for bk in bookings %}
    {% if not bk.isInFuture %}
    <div class="container mb-4 p-md-3 border-3 rounded delivered bg-body-tertiary">
        <div class="row">
            <span>Ticket Expired</span>
            <h3 class="pb-2 border-bottom">We hope you enjoyed your visit!</h3>
             {% include 'parktour/bk_unit_component.html' %} 
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <h1>You have no bookings currently</h1>
    {% endif %}
</div>
{% endblock maincontent %}