<footer class="d-flex justify-content-between align-items-center py-3 mt-4 border-top mt-auto px-md-5 px-3 bg-body-tertiary">
    <div class="">
        <div>
            <a href="/" class="mb-3 mb-md-0 text-body-secondary text-decoration-none">Mesozoic Park</a>
        </div>
        <div class="mb-3 mb-md-0 text-body-secondary">&copy; 2025 InGen, Inc - Vidit Jani</div>
    </div>

    <ul class="d-flex flex-wrap">
        <li class="nav-link m-2"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-link m-2"><a href="#" class="nav-link px-2 text-body-secondary">Tours</a></li>
        <li class="nav-link m-2"><a href="#" class="nav-link px-2 text-body-secondary">Merchandise</a></li>
        <li class="nav-link m-2"><a href="#" class="nav-link px-2 text-body-secondary">Community</a></li>
        <li class="nav-link m-2"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
</footer>